# MISC
pytest
pydantic

# MLX & Whisper
mlx>=0.11
mlx-lm
numba
numpy
torch
tqdm
more-itertools
tiktoken==0.3.3
huggingface_hub
scipy

# MeloTTS
g2p_en
cached_path

# Main
pyaudio
playsound
webrtcvad
sounddevice
librosa
torchaudio